.header {
    background-color: #212121;
    height: 100px;
}

.footer {
    background-color: #212121;
    height: 80px;
    color: white;
    text-align: center;
    padding: 30px;
}

.submit-button{
    background-color: #abff47;
    color: limegreen;
    height: 40px;
    width: 200px;
    border: none;
    margin: 10px 0;
    cursor:pointer;
    font-weight: bold;
}

.heading {
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: dimgrey;
    width: 100%;
}

.logo {
    height: 100px;
}

body {
    background-color: #212121;
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content-background {
    background-color: lightgrey;
}

.card-container {
    background-color: white;
    float: left;
    width: 100%;
    box-shadow: 2px 1px 5px black;
}

    .card-container .card-header {
        float: left;
        width: 100%;
        background-color: #212121;
        color: white;
        padding: 15px 15px;
    }

    .card-container .card-body {
        padding: 15px;
        float: left;
        width: 100%;
    }


.logged-claims {
    float: left;
    width: 100%;
}

#loginOnly{
    display:none;
}

input[type=text], input[type=number] {
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}

.logged-claims .card-container .card-header {
    background-color: grey;
}


#claimsTable {
    width: 100%;
    float: left;
}

    #claimsTable th {
        text-align: left;
    }



    #claimsTable th:last-child{
            width: 1%;
    }
.float-left {
    float: left;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

    .clearfix:before,
    .clearfix:after,
    .container:before,
    .container:after,
    .row:before,
    .row:after {
        content: " ";
        display: table;
    }

    .clearfix:after,
    .container:after,
    .row:after {
        clear: both;
    }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

@media (max-width: 479px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table !important;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }

    .hidden-xs {
        display: none !important;
    }
}

.margin-v-0-xs {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-h-0-xs {
    margin-left: 0px;
    margin-right: 0px;
}

.padding-v-0-xs {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-h-0-xs {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-v-5-xs {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-h-5-xs {
    margin-left: 5px;
    margin-right: 5px;
}

.padding-v-5-xs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-h-5-xs {
    padding-left: 5px;
    padding-right: 5px;
}

.margin-v-10-xs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-h-10-xs {
    margin-left: 10px;
    margin-right: 10px;
}

.padding-v-10-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-h-10-xs {
    padding-left: 10px;
    padding-right: 10px;
}

.margin-v-15-xs {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-h-15-xs {
    margin-left: 15px;
    margin-right: 15px;
}

.padding-v-15-xs {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-h-15-xs {
    padding-left: 15px;
    padding-right: 15px;
}

.margin-v-30-xs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-h-30-xs {
    margin-left: 30px;
    margin-right: 30px;
}

.padding-v-30-xs {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-h-30-xs {
    padding-left: 30px;
    padding-right: 30px;
}

.half-col-padding-right-xs {
    padding-right: 7.5px;
}

.half-col-padding-left-xs {
    padding-left: 7.5px;
}

.no-margin-xs {
    margin: 0;
}

.no-margin-top-xs {
    margin-top: 0;
}

.no-margin-bottom-xs {
    margin-bottom: 0;
}

.no-margin-left-xs {
    margin-left: 0;
}

.no-margin-right-xs {
    margin-right: 0;
}

.no-padding-xs {
    padding: 0;
}

.no-padding-top-xs {
    padding-top: 0;
}

.no-padding-bottom-xs {
    padding-bottom: 0;
}

.no-padding-left-xs {
    padding-left: 0;
}

.no-padding-right-xs {
    padding-right: 0;
}

.float-left-xs {
    float: left !important;
}

.float-right-xs {
    float: right !important;
}

.float-none-xs {
    float: none;
}


@media (min-width: 480px) {
    .container {
        width: 480px;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }

    .margin-v-0-sm {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .margin-h-0-sm {
        margin-left: 0px;
        margin-right: 0px;
    }

    .padding-v-0-sm {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .padding-h-0-sm {
        padding-left: 0px;
        padding-right: 0px;
    }

    .margin-v-5-sm {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .margin-h-5-sm {
        margin-left: 5px;
        margin-right: 5px;
    }

    .padding-v-5-sm {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .padding-h-5-sm {
        padding-left: 5px;
        padding-right: 5px;
    }

    .margin-v-10-sm {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-h-10-sm {
        margin-left: 10px;
        margin-right: 10px;
    }

    .padding-v-10-sm {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padding-h-10-sm {
        padding-left: 10px;
        padding-right: 10px;
    }

    .margin-v-15-sm {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .margin-h-15-sm {
        margin-left: 15px;
        margin-right: 15px;
    }

    .padding-v-15-sm {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .padding-h-15-sm {
        padding-left: 15px;
        padding-right: 15px;
    }

    .margin-v-30-sm {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .margin-h-30-sm {
        margin-left: 30px;
        margin-right: 30px;
    }

    .padding-v-30-sm {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padding-h-30-sm {
        padding-left: 30px;
        padding-right: 30px;
    }

    .half-col-padding-right-sm {
        padding-right: 7.5px;
    }

    .half-col-padding-left-sm {
        padding-left: 7.5px;
    }

    .no-margin-sm {
        margin: 0;
    }

    .no-margin-top-sm {
        margin-top: 0;
    }

    .no-margin-bottom-sm {
        margin-bottom: 0;
    }

    .no-margin-left-sm {
        margin-left: 0;
    }

    .no-margin-right-sm {
        margin-right: 0;
    }

    .no-padding-sm {
        padding: 0;
    }

    .no-padding-top-sm {
        padding-top: 0;
    }

    .no-padding-bottom-sm {
        padding-bottom: 0;
    }

    .no-padding-left-sm {
        padding-left: 0;
    }

    .no-padding-right-sm {
        padding-right: 0;
    }

    .float-left-sm {
        float: left !important;
    }

    .float-right-sm {
        float: right !important;
    }

    .float-none-sm {
        float: none;
    }
}


@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }

    .margin-v-0-md {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .margin-h-0-md {
        margin-left: 0px;
        margin-right: 0px;
    }

    .padding-v-0-md {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .padding-h-0-md {
        padding-left: 0px;
        padding-right: 0px;
    }

    .margin-v-5-md {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .margin-h-5-md {
        margin-left: 5px;
        margin-right: 5px;
    }

    .padding-v-5-md {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .padding-h-5-md {
        padding-left: 5px;
        padding-right: 5px;
    }

    .margin-v-10-md {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-h-10-md {
        margin-left: 10px;
        margin-right: 10px;
    }

    .padding-v-10-md {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padding-h-10-md {
        padding-left: 10px;
        padding-right: 10px;
    }

    .margin-v-15-md {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .margin-h-15-md {
        margin-left: 15px;
        margin-right: 15px;
    }

    .padding-v-15-md {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .padding-h-15-md {
        padding-left: 15px;
        padding-right: 15px;
    }

    .margin-v-30-md {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .margin-h-30-md {
        margin-left: 30px;
        margin-right: 30px;
    }

    .padding-v-30-md {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padding-h-30-md {
        padding-left: 30px;
        padding-right: 30px;
    }

    .half-col-padding-right-md {
        padding-right: 7.5px;
    }

    .half-col-padding-left-md {
        padding-left: 7.5px;
    }

    .no-margin-md {
        margin: 0;
    }

    .no-margin-top-md {
        margin-top: 0;
    }

    .no-margin-bottom-md {
        margin-bottom: 0;
    }

    .no-margin-left-md {
        margin-left: 0;
    }

    .no-margin-right-md {
        margin-right: 0;
    }

    .no-padding-md {
        padding: 0;
    }

    .no-padding-top-md {
        padding-top: 0;
    }

    .no-padding-bottom-md {
        padding-bottom: 0;
    }

    .no-padding-left-md {
        padding-left: 0;
    }

    .no-padding-right-md {
        padding-right: 0;
    }

    .float-left-md {
        float: left !important;
    }

    .float-right-md {
        float: right !important;
    }

    .float-none-md {
        float: none;
    }
}

@media (min-width: 990px) {
    .container {
        width: 990px;
    }

    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table !important;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }

    .hidden-lg {
        display: none !important;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }

    .margin-v-0-lg {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .margin-h-0-lg {
        margin-left: 0px;
        margin-right: 0px;
    }

    .padding-v-0-lg {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .padding-h-0-lg {
        padding-left: 0px;
        padding-right: 0px;
    }

    .margin-v-5-lg {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .margin-h-5-lg {
        margin-left: 5px;
        margin-right: 5px;
    }

    .padding-v-5-lg {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .padding-h-5-lg {
        padding-left: 5px;
        padding-right: 5px;
    }

    .margin-v-10-lg {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-h-10-lg {
        margin-left: 10px;
        margin-right: 10px;
    }

    .padding-v-10-lg {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padding-h-10-lg {
        padding-left: 10px;
        padding-right: 10px;
    }

    .margin-v-15-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .margin-h-15-lg {
        margin-left: 15px;
        margin-right: 15px;
    }

    .padding-v-15-lg {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .padding-h-15-lg {
        padding-left: 15px;
        padding-right: 15px;
    }

    .margin-v-30-lg {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .margin-h-30-lg {
        margin-left: 30px;
        margin-right: 30px;
    }

    .padding-v-30-lg {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padding-h-30-lg {
        padding-left: 30px;
        padding-right: 30px;
    }

    .half-col-padding-right-lg {
        padding-right: 7.5px;
    }

    .half-col-padding-left-lg {
        padding-left: 7.5px;
    }

    .no-margin-lg {
        margin: 0;
    }

    .no-margin-top-lg {
        margin-top: 0;
    }

    .no-margin-bottom-lg {
        margin-bottom: 0;
    }

    .no-margin-left-lg {
        margin-left: 0;
    }

    .no-margin-right-lg {
        margin-right: 0;
    }

    .no-padding-lg {
        padding: 0;
    }

    .no-padding-top-lg {
        padding-top: 0;
    }

    .no-padding-bottom-lg {
        padding-bottom: 0;
    }

    .no-padding-left-lg {
        padding-left: 0;
    }

    .no-padding-right-lg {
        padding-right: 0;
    }

    .float-left-lg {
        float: left !important;
    }

    .float-right-lg {
        float: right !important;
    }

    .float-none-lg {
        float: none;
    }

    .text-right-lg {
        text-align: right;
    }
}